<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Specific Information</h1>
    <h2>{{single_hero.name}}</h2>
    <h2>{{single_hero.alter_ego}}</h2>
    <h2>{{single_hero.primary}}</h2>
    <h2>{{single_hero.secondary}}</h2>
    <h2>{{single_hero.catch_phrase}}</h2>

    
    <a href="{% url 'superheroes:update' single_hero.id %}">Reconfigure Specifics</a>
</body>
</html>